<nav id="navbar" class="navbar-light bg-light navbar sticky-top">

    <h1>
        <a href="/" id="title">Tech Blog</a>
    </h1>

    {{#if loggedIn}}
        {{!-- <a href="/" id="title">Tech Blog</a> --}}
        {{!-- <a href="/logout" id="logout" class="btn-no-style">Logout</a> --}}
        <a href="/logout"><button id="logout" class="btn-no-style">Logout</button></a>
    {{else}}
        <div class="" id="menu">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    {{/if}}

        <a href="/dashboard">Dashboard</a>
        <a href="/posts">Posts</a>
</nav>