<div class="container">

    <div class="row">
        <div class="col">

            <form id="login-form">
                <h2>Login</h2>

                <input type="text" id="login-email" placeholder="email"/>
                <input type="password" id="login-password" placeholder="password"/>
                <button type="submit" id="login-submit">Login</button>
            </form>

        </div>
    </div>

</div>

<div class="container">

    <div class="row">
        <div class="col">

            <form id="signup-form">
                <h2>Signup</h2>
                <input type="text" id="signup-username" placeholder="username"/>
                <input type="text" id="signup-email" placeholder="email"/>
                <input type="password" id="signup-password" placeholder="password"/>
                <button type="submit" id="login-submit">Signup</button>
            </form>

        </div>
    </div>

</div>

<script src="/jsEvents/login.js"></script>